.App {
    background-color: #343434;
    height: 100%;
    width: 100%;
}

.app-logo {
    height: 50vmin;
	width: 50vmin;

}

.col-md-4 {
    position: relative;
    text-align: center;

}
h1 {
    color: blue;
}

.label-item {
    color: #1ED760;
    font-family: "Palatino";
    position: fixed;
    align-content: center;
    margin-left: -100px;
    font-size: calc(20px + 2vmin);
}
