{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static "style/app.css" %}">
    <div class="App">

        <div class="row">
            <div class="col-md-4">
            </div>
        <div class="col-md-4">

                <img class="app-logo" src="{% static "img/spotify-logo.png" %}" alt="logo" width="100%" format="PNG" THUMBNAIL_PRESERVE_FORMAT=True>

            <div class="label-item">
             <!-- category -->
            <form action="/SearchOptions/" method="post" class="form-submit">{% csrf_token %}
                <div class="fieldWrapper">
                    <label for="id_category" class="label-item" style="color:whitesmoke">Choose an Item</label>
                    <select type="text" className="searchselect">
                        <option selected>Playlist</option>
                        <option>Album</option>
                        <option>Artist</option>

                    </select>
                </div>
            </form>
            </div>
        </div>
        </div>
        </div>
    </div>

{% endblock %}