{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static "style/app.css" %}">
    <div class="App">
        <h1>Hello, World!</h1>
        <div class="row">
            <div class="col-md-4">
            </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static "img/spotify-logo.png" %}" alt="logo" width="100%">
            </div>
             <!-- category -->
            <form action="/SearchOptions/" method="post">{% csrf_token %}
                <div class="fieldWrapper">
                    <label for="id_category">Choose an Item</label>
                    <select type="text" className="searchselect">
                        <option selected>Playlist</option>
                        <option>Album</option>
                        <option>Artist</option>

                    </select>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>

{% endblock %}